.hero{
    justify-content: space-around;
    width: 100vw;
    display: flex;
    background: url('https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2020/10/50603700_1022920661249010_7753951879649820672_n.jpg');
    filter: blur(3px);
}
#hero-left{
    border: 2px rgb(145, 145, 145) solid;
    width: 45%;
    height:100vh;
    padding: 20px;
    flex-direction: column;
    align-content: center;
}
#hero-right{
    border: 2px rgb(145, 145, 145) solid;
    width: 50%;
    height:100vh;
    padding: 20px;
    flex-direction: column;
}