.hero {
    position: relative; 
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0; 
    z-index: 1; 
    backdrop-filter: rgb(70, 70, 70);
    backdrop-filter: opacity(60%) ;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2020/10/50603700_1022920661249010_7753951879649820672_n.jpg') no-repeat center center;
    background-size: cover; 
    filter: blur(2px); 
    z-index: -1; 
}
.hero::after {
    content: '';
    position: absolute; /* Faz o pseudo-elemento ocupar toda a hero */
    background-color: rgba(255, 0, 0, 0.5); 
    z-index: 0; 
}

#hero-left, #hero-right {
    border: 2px rgb(145, 145, 145) solid;
    width: 50%;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    display: flex; 
    z-index: 2; 
}
