body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(177, 177, 177);
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card img {
    height: 200px;
    object-fit: cover;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    color: #f1c40f;
}
