    
    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
header{
    position: fixed;
    z-index: 10;
    height: 7vh;
    width:100vw;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    filter: brightness(0.7);

}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-header{
    color:#fff;
    z-index: 11;
    text-decoration: none;
}
.text-header :hover ::after{
    text-decoration: none;
}
.hero {
    position: relative; 
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0;
    z-index: 1;
    backdrop-filter: rgb(70, 70, 70);
    backdrop-filter: opacity(60%);
    flex-direction: column;
    align-items: center;
}


.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2020/10/50603700_1022920661249010_7753951879649820672_n.jpg') no-repeat center center;
    background-size: cover; 
    filter: blur(2px); 
    z-index: -1; 
}
.hero::after {
    content: '';
    position: absolute; /* Faz o pseudo-elemento ocupar toda a hero */    
    z-index: 0; 
}
a{
    font-family: 'Times New Roman', Times, serif;
    font: 20px black;
    margin: 20px 20px;
    margin-top: 20px;
}
.animate-text {
    background-color: #e0e0e094; /* Fundo inicial */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra do texto */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra do bloco */
    position: relative; /* Para o pseudo-elemento */
    overflow: hidden; /* Para garantir que o pseudo-elemento não saia do bloco */
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    color: #333; /* Cor inicial do texto */
    margin: 0; /* Remover margens para evitar deslocamento */
    position: relative; /* Para garantir que o texto fique acima do fundo */
    z-index: 1; /* Para que o texto fique acima da animação */
}

.animate-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%; /* Certifique-se de que o pseudo-elemento cubra toda a div */
    height: 100%; /* Certifique-se de que o pseudo-elemento cubra toda a div */
    background-color: #ffeb3b; /* Cor amarela */
    transition: left 0.5s; /* Transição da posição */
    z-index: 0; /* Para que fique abaixo do texto */
}

.animate-text:hover::before {
    left: 0; /* Mover o fundo para a direita ao passar o mouse */
}

.animate-text:hover h1 {
    color: #000; /* Mudar a cor do texto para preto ao passar o mouse */
    transform: translateY(-2px); /* Pequena elevação ao passar o mouse */
}
    h4 {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 1.3em;
        margin-top: 20px;
        text-shadow: 0px 1px 2px black;
    }
    .login {
        margin-top: 55px;
        margin-bottom: 55px;
        padding: 10px 8px; /* Ajuste para manter o padding consistente */
        border-radius: 8px; /* Mantenha a borda arredondada */
        background-color: #FFF; /* Fundo claro */
        text-align: center;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Sombra mais pronunciada */
        transition: transform 0.3s, background-color 0.3s; /* Transição suave */
        position: relative; /* Para o efeito de hover */
        overflow: hidden; /* Para manter a consistência com o título */
        font-family: monospace;
    }
    
    .login:hover {
        transform: translateY(-3px); /* Pequena elevação ao passar o mouse */
        background-color: #e0e0e0; /* Alterar a cor de fundo ao passar o mouse */
    }
    
    h3 {
        font-family: 'Arial', sans-serif;
        font-size: 1.4rem;
        color: #000000;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra mais suave */
        margin: 10px 0; /* Margem para espaçamento */
    }
    .section-services{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        align-self: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #title-services{
        justify-self: center;
        display: flex;
        grid-column: 1/-1;
    }
    .icon-services{
        background-color: gray;
        transition: filter 0.3s ease; /* Transição suave para o efeito */
        filter: grayscale(100%);
    }
    .icon-services :hover{
        filter: grayscale(0%);
    }
    .social-media {
        position: absolute;  /* Garante que o aside não afete o layout */
        left: 0;  /* Posiciona à esquerda */
        top: 0;  /* Começa no topo */
        height: 91vh;  /* A altura do aside será a altura da tela */
        width: 360px;  /* Largura definida para o aside */
        background-color: rgba(0, 0, 0, 0.7);  /* Fundo escuro para visibilidade */
        z-index: 2;  /* Garante que o aside fique acima da imagem de fundo */
        padding-top: 70px;  /* Espaço superior para o conteúdo não ficar colado no topo */
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation-name: background-animate, linear 6s;
        border-radius: 20px 0px;
    }.hero .animate-text {
        z-index: 3;  /* Garantir que o texto do Hero fique acima do aside */
    }
    
    @keyframes background-animate {
        0%{
            background-color:#000000;
        }
        40%{
            background-color:#333;
        }
        70%{
            background-color:#000000;
        }
    }
    .section-3{
        background-color: rgb(27, 27, 27);
        flex-direction: column;
        justify-items: center;
        align-items: center;
        align-self: center;
        justify-content: center;
        height: 100vh;
        padding-top: 70px;
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        animation-name: background-animate, linear 6s;
    }
    .box h2{
        font-size: 1.25em;    
        color: transparent;
        line-height: 1.35;
    }
    ul{
        position: relative;
        transform: skewY(-15deg);
    }
    
    ul li{
        position: relative;
        list-style: none;
        width: 120px;
        background: #3e3f46;
        padding:15px;
        transition: 0.5s;
        z-index: calc(1 * var(--i));
    }
    
    ul li:hover 
    {
        transform: translateX(-50px);
        background: var(--clr);
    }
    
    ul li::before 
    {
        content: '';
        position: absolute;
        top: 0;
        left: -40px;
        width: 40px;
        height: 100%;
        background: #3e3f46;
        filter: brightness(0.7);
        transform-origin: right;
        transform: skewY(45deg);
        transition: 0.5s;
    }
    
    ul li:hover::before 
    {
        background: var(--clr);
        filter: brightness(0.7);
    }
    
    ul li::after 
    {
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        height: 40px;
        background: #3e3f46;
        filter: brightness(0.9);
        transform-origin: bottom;
        transform: skewX(45deg);
        transition: 0.5s;
    }
    
    ul li:hover::after 
    {
        background: var(--clr);
        filter: brightness(0.9);
    }
    
    ul li a 
    {
        text-decoration: none;
        color: #999;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        transition: 0.5s;
    }
    
    ul li:hover a 
    {
        color: #fff;
    }
    ul li:last-child::after
    {
        box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
    }
    
    ul li span 
    {
        position: absolute;
        left: -40px;
        width: 40px;
        transform-origin: right;
        transform: skewY(45deg);
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        font-size: 1.25em;
    }
    
    ul li:hover span 
    {
        opacity: 1;
    }
    #layer0:hover{
        background-color:blue;
        z-index: 3;
    }#layer1:hover{
        background-color:green;
        z-index: 3;
    }#layer2:hover{
        background-color:cyan;
        z-index: 3;
    }#layer3:hover{
        background-color:rgb(253, 54, 153);
        z-index: 3;
    }#layer4:hover{
        background-color:red;
        z-index: 3;
    }
    #layer5:hover{
        background-color:rgb(96, 183, 255);
        z-index: 3;
    }
    
    /* Estilo global do container de cards */
.flip-card {
    width: 200px;  /* Largura do card */
    height: 300px; /* Altura do card */
    perspective: 1000px; /* Define a profundidade para o efeito de 3D */
    margin: 20px;
    }
    .flip-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100vh;
    }
  /* Contêiner que faz a rotação 3D */
    .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d; /* Mantém a profundidade do efeito */
    }
  /* Front do card (ícone e título) */
    .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e4e4e4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    backface-visibility: hidden; /* Garante que a parte de trás não apareça ao virar */
    }
    .flip-card-front img {
    width: 150px;
    height: 130px;
    margin-bottom: 10px;
    padding: 20px;
    }
  /* Back do card (texto descritivo) */
    .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    backface-visibility: hidden; /* Oculta a parte frontal ao virar */
    transform: rotateY(180deg); /* Gira a parte de trás do card */
    }
  /* Efetuar o flip ao passar o mouse */
    .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* Roda a parte interna 180 graus */
    }
  /* Estilo do texto */
    .flip-card-back p {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    }
  /* Estilo do título */
    .flip-card-front h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    }