    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }
    
    header {
        background: url('https://via.placeholder.com/1500x600') no-repeat center center/cover;
        display: flex;
    }
    .logo-section{
        display: flex;
        height: 100px;
        width: auto;
    }
    header h1 {
        font-size: 3rem;
        font-weight: bold;
    }
    
    .about-section img {
        border: 5px solid #f1c40f;
    }
    
    .courses-section .card {
        border-radius: 10px;
    }
    
    .contact-section form input {
        border-radius: 5px;
    }
    